* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */;
    margin:0px;
    padding:0px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

.app {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 384px;
    transform: translate(-50%, 0%);
}

.name_holder
{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: transparent;
    text-align: left;
}

input
{
    border: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    position: relative;
    width: calc( 100% - 10px);
    height: 30px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    outline: none;
}

label
{
    position: relative;
    bottom: -26px;
    font-family: 'Roboto', sans-serif;
    transition: bottom 0.1s;
}

.start{
    width: 100px;
    height: 50px;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: Black;
    margin: 5px;
}

.start:hover{
    box-shadow: 1.5px 1.5px 3px 0px rgba(0,0,0,0.75);
}

.start:active{
    background-color: white;
    color: Black;
    box-shadow: 1.5px 1.5px 3px 0px rgba(0,0,0,0.75);
}

.logo
{
    height: 192px;
    width: 192px;
    position: absolute;
    left: 50%;
    top: 192px;
    background-image: url("../img/xxxhdpi-foreground.png");
    transform: translate(-50%, -50%);
}


